@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.certificates-section {
    background-color: #222222;
    min-height: 100vh;
    padding-top: 5rem;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificates-section h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #fff;
    padding: 2rem 1rem;
}

.certificate-card {
  opacity: 0;
  transform: translateY(20px);
  animation-fill-mode: forwards;
  animation-name: fadeSlideUp;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-delay: 0s;
}

.card-img-top {
    object-fit: fill;
    height: 80%;
}

/* Modal */
.certificate-modal {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 3rem;
}

.certificate-modal-content {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 8px;
    position: relative;
    max-width: 90%;
    max-height: 90vh;
    overflow: auto;
    margin-top: 5rem;
    margin: auto;
}

.certificate-modal-content img {
    max-width: 100%;
    max-height: 80vh;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
}

/* DESKTOPS */
@media (min-width: 1024px) {
    .certificates-section h1 {
        font-size: 4.5rem;
    }

    .certificate-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
    }

    .certificate-card:hover,
    .certificate-card:focus {
        outline: none;
    }

    .certificate-card:hover .card-img-top,
    .certificate-card:focus .card-img-top {
        filter: grayscale(30%) brightness(0.7);
        transition: filter 0.3s ease;
    }

    .certificate-card:hover .card-title,
    .certificate-card:focus .card-title {
        color: #D61AAE;
        box-shadow: inset 0 -2px 0 #D61AAE;
        display: inline-block;
    }

    .certificate-modal-content {
        padding: 1rem;
    }

}