.contact-section {
    background-color: #222222;
    min-height: 100vh;
    padding: 5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-section h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #fff;
    padding: 2rem 1rem;
}

.cv-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.cv-box {
    position: relative;
    display: inline-block;
}

.cv-download-btn {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #D61AAE;
  border-radius: 8px;
  box-sizing: border-box;
  color: #D61AAE;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  height: 4rem;
  padding: 0 25px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.cv-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D61AAE;
  border-radius: 8px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease;
  z-index: 1;
}

.cv-box:hover:after {
    transform: translate(0, 0);
}


/* DESKTOPS */
@media (min-width: 1024px) {
    .contact-section {
        padding: 6rem 1rem;
    }
}