.footer {
    margin-top: 7rem;
    background-color: #F5F5F5;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-icons {
    height: 5rem;
}

.footer-icons i {
    color: #222222;
    padding:0 3rem;
    transition: all 0.2s ease;
}

.footer-icons i:hover,
.footer-icons i:focus {
    color: #D61AAE !important;
    box-shadow: inset 0 -2px 0 #D61AAE;
    padding-bottom: 0.5rem;
}